<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Achievements</title>
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="shortcut icon" href="../images/misc/icon.jpeg" type="image/x-icon">
</head>
 <body>
  <nav class="navbar">
    <a href="../index.html">Home</a>
    <a href="trophies.html">Trophies</a>
    <a href="gallery.html">Gallery</a>
    <a href="showcase.html">Players</a>
  </nav>
<div class="achievements-container">
    <header>My Achievements</header>
    <ul class="achievement-list">
      <li class="achievement-item">
        <span class="achievement-icon">🏆</span>
        <div>
          <div class="achievement-title"> Undefeated League Champion</div>
          <div class="desc">Won the Legedary Division for 50+ seasons without losing a match.</div>
        </div>
      </li>  
      <li class="achievement-item">
        <span class="achievement-icon">⚽</span>
        <div>
          <div class="achievement-title">Top Scorer</div>
          <div class="desc">Scored 59 goals in a single season with Paulo Dybala.</div>
        </div>
      </li>
      <li class="achievement-item">
        <span class="achievement-icon">🧤</span>
        <div>
          <div class="achievement-title">Golden Glove</div>
          <div class="desc">Kept 15 clean sheets in a season with Alisson.</div>
        </div>
      </li>
      <li class="achievement-item">
        <span class="achievement-icon">⚽</span>
        <div>
          <div class="achievement-title">Goals Scored</div>
          <div class="desc">Scored 103 goals in a league season.</div>
        </div>
      </li>
      <li class="achievement-item">
        <span class="achievement-icon">⭐</span>
        <div>
          <div class="achievement-title">Team Rating</div>
          <div class="desc">94.9 - ⭐⭐⭐⭐⭐</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="achievements-container">
    <header>Player Achievements</header>
    <ul class="achievement-list">
      <li class="achievement-item">
        <span class="achievement-icon">🏆</span>
        <div>
          <div class="achievement-title">Most Appearances</div>
          <div class="desc">Alisson - 2,050 Appearances</div>
        </div>
      </li>  
      <li class="achievement-item">
        <span class="achievement-icon">⚽</span>
        <div>
          <div class="achievement-title">Top Scorer</div>
          <div class="desc">Harry Kane - 1,873 Goals</div>
        </div>
      </li>
      <li class="achievement-item">
        <span class="achievement-icon">🎯</span>
        <div>
          <div class="achievement-title">Top Assister</div>
          <div class="desc">Harry Kane - 587 Assists</div>
        </div>
      </li>
       <li class="achievement-item">
       <span class="achievement-icon">⚽</span>
        <div>
          <div class="achievement-title">Most Goals in a Single Season</div>
          <div class="desc">Paulo Dybala - 59 Goals</div>
        </div>
      </li>
      <li class="achievement-item">
        <span class="achievement-icon">🎯</span>
        <div>
          <div class="achievement-title">Most Assists in a Single Season</div>
          <div class="desc">Mohamed Salah - 24 Assists</div>
        </div>
      </li>
      <li class="achievement-item">
        <span class="achievement-icon">🎯⚽</span>
        <div>
          <div class="achievement-title">Longest Range Goal</div>
          <div class="desc">Toni Kroos - 46 yards.</div>
        </div>
      </li>
      <li class="achievement-item">
        <span class="achievement-icon">⚽x3</span>
        <div>
          <div class="achievement-title">Fastest Hattrick</div>
          <div class="desc">Heung-Min Son - 7 minutes</div>
        </div>
      </li>
      <li class="achievement-item">
        <span class="achievement-icon">⚡⚽</span>
        <div>
          <div class="achievement-title">Fastest Goal</div>
          <div class="desc">Randal Kolo Muani - 3 minutes</div>
        </div>
      </li>
      <li class="achievement-item">
        <span class="achievement-icon">⚽x10</span>
        <div>
          <div class="achievement-title">Most Goals in One Match</div>
          <div class="desc">Luis Suarez - 10 goals vs .</div>
        </div>
      </li>
      <li class="achievement-item">
        <span class="achievement-icon">🎯x5</span>
        <div>
          <div class="achievement-title">Most Assists in One Match</div>
          <div class="desc">Toni Kroos/Lionel Messi - 5 assists</div>
        </div>
      </li>
      <li class="achievement-item">
        <span class="achievement-icon">🟨</span>
        <div>
          <div class="achievement-title">Most Yellow Cards</div>
          <div class="desc">William Saliba - 66 Yellow Cards</div>
        </div>
      </li>
      <li class="achievement-item">
        <span class="achievement-icon">🟥</span>
        <div>
          <div class="achievement-title">Most Red Cards</div>
          <div class="desc">Ruben Dias - 8 Red Cards</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="achcontainer">
    <li class="achitem">
        <div>
          <div class="achtitle">Played 672 Games in September</div>
          <div class="idesc"><img src="../images/misc/september.jpg" alt="September" id="ach"></div>
        </div>
      </li>
  </div>
  <div class="achcontainer">
    <li class="achitem">
        <div>
          <div class="achtitle">2024 Wrapped</div>
          <div class="idesc"><img src="../images/misc/wrapped.jpg" alt="Wrapped" id="ach"></div>
        </div>
      </li>
  </div>
  <div class="achcontainer">
    <li class="achitem">
        <div>
          <div class="achtitle">My Stadium - Emirates Stadium<br>Capacity - 85,640</div>
          <div class="idesc"><img src="../images/misc/emirates.jpg" alt="Emirates Stadium" id="ach"></div>
        </div>
      </li>
  </div>
  <table border="1" class="stats-table">
            <tr>
                <th></th>
                <th>Games Played</th>
                <th>Wins</th>
                <th>Draws</th>
                <th>Losses</th>
                <th>Goals Scored</th>
                <th>Goals Conceded</th>
                <th>Clean Sheets</th>
                <th>Biggest Win</th>
                <th>Biggest Loss</th>
                <th>Yellow Cards</th>
                <th>Red Cards</th>
                <th>Win Rate</th>
            </tr>
            <tr>
                <td>Career</td>
                <td>2,765</td>
                <td>2,634</td>
                <td>60</td>
                <td>71</td>
                <td>11,387</td>
                <td>1295</td>
                <td>1762</td>
                <td>16-0 (Como)</td>
                <td>3-0<br>(Allstar XI)</td>
                <td>570</td>
                <td>38</td>
                <td>95%</td>
            </tr>
            <tr>
                <td>Live</td>
                <td>222</td>
                <td>125</td>
                <td>14</td>
                <td>83</td>
                <td>494</td>
                <td>400</td>
                <td>59</td>
                <td>6-0</td>
                <td>7-1</td>
                <td>24</td>
                <td>0</td>
                <td>56%</td>
            </tr>
            <tr>
                <td>Exhibition</td>
                <td>155</td>
                <td>53</td>
                <td>0</td>
                <td>102</td>
                <td>211</td>
                <td>342</td>
                <td>38</td>
                <td>9-0</td>
                <td>6-3</td>
                <td>29</td>
                <td>6</td>
                <td>34%</td>
            </tr>
            <tr>
                <td>Friendly</td>
                <td>32</td>
                <td>19</td>
                <td>0</td>
                <td>13</td>
                <td>87</td>
                <td>54</td>
                <td>8</td>
                <td>9-1<br>(Jimoh)</td>
                <td>5-2<br>(Jimoh)</td>
                <td>0</td>
                <td>1</td>
                <td>59%</td>
            </tr>
  </table>
  <footer class="footer">
  &copy; 2025 DLS 25 Player Showcase &mdash; 
  <a href="mailto:dls23player13@gmail.com">Contact</a> | 
  <a href="https://github.com/umarfm2020" target="_blank">GitHub</a>
</footer>
</body>
</html>