<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Player Image Gallery</title>
  <link rel="stylesheet" href="../styles/gallery.css">
  <link rel="shortcut icon" href="../images/misc/icon.jpeg" type="image/x-icon">
</head>
<body>
  <nav class="navbar">
    <a href="../index.html">Home</a>
    <a href="showcase.html">Players</a>
    <a href="trophies.html">Trophies</a>
    <a href="achievements.html">Achievements</a>
  </nav>
  <div class="gallery-container">
    <header>Player Image Gallery</header>
    <div class="scroll-gallery">
      <img src="../images/playercards/kai.jpg" alt="Kai Havertz">
      <img src="../images/img/k10.jpg" alt="Kylian Mbappé">
      <img src="../images/img/hk9.jpg" alt="Harry Kane">
      <img src="../images/img/mohcard.jpg" alt="Mohamed Salah">
      <img src="../images/img/vjrcard.jpg" alt="Vinicius Junior">
      <img src="../images/img/soncard.jpg" alt="Heung-Min Son">
      <img src="../images/img/l10card.jpg" alt="Lionel Messi">
      <img src="../images/img/cr7card.jpg" alt="Cristiano Ronaldo">
    </div>
    </div>
  <div class="gallery-container">
    <header>Squad Image Gallery</header>
    <div class="scroll-gallery">
      <img src="../images/squad/343.jpg" alt="343">
      <img src="../images/squad/352.jpg" alt="352">
      <img src="../images/squad/4231.jpg" alt="4231">
      <img src="../images/squad/433.jpg" alt="433">
      <img src="../images/squad/442.jpg" alt="442">
      <img src="../images/squad/451.jpg" alt="451">
      <img src="../images/squad/523.jpg" alt="523">
      <img src="../images/squad/532.jpg" alt="532">
      <img src="../images/squad/541.jpg" alt="541">
    </div>
    </div>
    <div class="gallery-container">
    <header>Matches Image Gallery(vs Abdurrahim Jimoh)</header>
    <div class="scroll-gallery">
      <img src="../images/matches/jimoh.jpg" alt="Match">
      <img src="../images/matches/jimoh2.jpg" alt="Match1">
      <img src="../images/matches/jimoh3.jpg" alt="Match2">
      <img src="../images/matches/jimoh4.jpg" alt="Match3">
      <img src="../images/matches/jimoh5.jpg" alt="Match54">
      <img src="../images/matches/jimoh6.jpg" alt="Match6">
      <img src="../images/matches/jimoh7.jpg" alt="Match7">
      <img src="../images/matches/jimoh8.jpg" alt="Match8">
      <img src="../images/matches/jimoh9.jpg" alt="Match9">
      <img src="../images/matches/jimoh10.jpg" alt="Match10">
      <img src="../images/matches/jimoh11.jpg" alt="Match11">
      <img src="../images/matches/jimoh12.jpg" alt="Match12">
      <img src="../images/matches/jimoh13.jpg" alt="Match13">
      <img src="../images/matches/jimoh14.jpg" alt="Match14">
      <img src="../images/matches/jimoh15.jpg" alt="Match15">
      <img src="../images/matches/jimoh16.jpg" alt="Match16">
      <img src="../images/matches/jimoh17.jpg" alt="Match17">
      <img src="../images/matches/jimoh18.jpg" alt="Match18">
      <img src="../images/matches/jimoh19.jpg" alt="Match19">
    </div>
    </div>
    <footer class="footer">
  &copy; 2025 DLS 25 Player Showcase &mdash; 
  <a href="mailto:dls23player13@gmail.com">Contact</a> | 
  <a href="https://github.com/umarfm2020" target="_blank">GitHub</a>
</footer>
</body>
</html>