<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Trophies</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="shortcut icon" href="../images/misc/icon.jpeg" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <a href="../index.html">Home</a>
        <a href="showcase.html">Players</a>
        <a href="gallery.html">Gallery</a>
        <a href="achievements.html">Achievements</a>
    </nav>
    <div class="trophies-container">
      <div class="main-title">My Trophies</div>
      <div class="trophy-list">
        <div class="trophy-card">
          <div class="trophy-icon">🏆</div>
          <div class="trophy-title">Rank 78</div>
          <div class="desc">Won 2769 Games.</div>
        </div>
        <div class="trophy-card">
          <div class="trophy-icon">🥇</div>
          <div class="trophy-title">Gold Medals</div>
          <div class="desc">Won 373 Gold Medals.</div>
        </div>
        <div class="trophy-card">
          <div class="trophy-icon">🥈</div>
          <div class="trophy-title">Silver Medals</div>
          <div class="desc">Won 6 Silver Medals.</div>
        </div>
        <div class="trophy-card">
          <div class="trophy-icon">🥉</div>
          <div class="trophy-title">Bronze Medals</div>
          <div class="desc">Won 4 Bronze Medals.</div>
        </div>
        <div class="trophy-card">
          <div class="trophy-icon">3️⃣</div>
          <div class="trophy-title">Tier 3</div>
          <div class="desc">Currently in Tier 3 with 197,809 Season XP.</div>
        </div>
        </div>
    </div>
    <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Academy Division</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/acadiv.jpg" alt="Legendary Division"></div>
      <p>Won Academy Division 1 once</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Amateur Division</div>
      <div class="idesc">
      <img id="trophy" src="../images/trophies/amadiv.jpg" alt="Legendary Division">
      </div>
      <p>Won Amateur Division 1 once</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Division 1</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/div1.jpg" alt="Division 1"></div>
      <p>Won Division 1 once</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Division 2</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/div2.jpg" alt="Division 2"></div>
      <p>Won Division 2 once</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Division 3</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/div3.jpg" alt="Division 3"></div>
      <p>Won Division 3 once</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Division 4</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/div1.jpg" alt="Division 4"></div>
      <p>Won Division 4 once</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Elite Division</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/elidiv.jpg" alt="Elite Division"></div>
      <p>Won Elite Division once</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Division 1</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/legdiv.jpg" alt="Legendary Division"></div>
      <p>Won Legendary Division 66 times</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Bronze Cup</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/brzcup.jpg" alt="Bronze Cup"></div>
      <p>Won Bronze Cup twice</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Silver Cup</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/silcup.jpg" alt="Silver Cup"></div>
      <p>Won Silver Cup twice</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Gold Cup</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/golcup.jpg" alt="Gold Cup"></div>
      <p>Won Gold Cup 0 times</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Diamond Cup</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/diacup.jpg" alt="Diamond Cup"></div>
      <p>Won Diamond Cup 59 times</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">International Cup</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/intcup.jpg" alt="International Cup"></div>
      <p>Won International Cup 60 times</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Allstar Cup</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/allcup.jpg" alt="Allstar Cup"></div>
      <p>Won Allstar Cup 54 times</p>
      </div>
      </div>

      <div class="trophies-container">
       <div class="trophy-card">
      <div class="main-title">Allstar Match</div>
      <div class="idesc"><img id="trophy" src="../images/trophies/allmatch.jpg" alt="Allstar Match"></div>
      <p>Won Allstar Match 58 times</p>
      </div>
      </div>
      <footer class="footer">
  &copy; 2025 DLS 25 Player Showcase &mdash; 
  <a href="mailto:dls23player13@gmail.com">Contact</a> | 
  <a href="https://github.com/umarfm2020" target="_blank">GitHub</a>
</footer>
</body>
</html>